run = "cd mystic-ai-backend && pip install -q -r requirements-replit.txt && python3 run.py"
language = "python3"
entrypoint = "mystic-ai-backend/run.py"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "cd mystic-ai-backend && pip install -q -r requirements-replit.txt && python3 run.py"]
deploymentTarget = "cloudrun"
